.card {
  color: white;
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.hollowCard {
  font-weight: 500;
}

.card, .hollowCard {
  padding: 1.25rem;
  cursor: pointer;
}

.hollowCard {
  border-style: solid;
  border-width: 0.15rem;
}

.card:hover, .hollowCard:hover {
  opacity: 75%;
}

.title {
  font-weight: 700;
  font-size: 1.05rem;
  padding-bottom: 0.15rem;
}

.icon {
  height: 2.5rem;
}