.list {
  display: grid;
  grid-template-columns: repeat(6, auto);
  overflow-y: auto;
  grid-auto-rows: max-content;
}


@media (max-width: 800px) {
  .list {
    grid-template-columns: repeat(4, auto);
  }
}


@media (max-width: 450px) {
  .list {
    grid-template-columns: repeat(2, auto);
  }
}