.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content {
  width: auto;
  height: 80%;
}

.machine {
  height: 100%;
}

.help {
  text-align: center;
  margin: 0;
}

.spinner, .noSpinner {
  position: absolute;
  top: 54.2%;
  height: 14.5%;
  margin-left: 0.25%;
  z-index: 0;
  cursor: pointer;
  transition: transform 0s;
  transform: rotate(0deg);
}

.noSpinner {
  cursor: auto
}

.spinner:hover {
  animation: pulse 1s ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.spinner.spun {
  transform: rotate(180deg);
  transition: 0.95s ease-in-out;
}

@keyframes pulse {
  from {
    height: 14.5%;
  } 
  to {
    top: 54%;
    height: 15%;
  }
}

@media (max-width: 850px) {
  .layout {
    padding: 0;
    height: 90vh;
    justify-content: end;
  }

  .content {
    margin-top: -6rem;
  }
  
@keyframes pulse {
  from {
    top: 57.75%;
    height: 13%;
  } 
  to {
    top: 57.5%;
    height: 13.5%;
    margin-left: 0.4%;
  }
}

  .spinner, .noSpinner {
   height: 13%;
   top: 57.75%;
  }

}