.barLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: gray;
}

.btnGroup {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-content: center;
}

button {
  margin: 0.5rem 1rem;
}

