.barLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.btnGroup {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.btnGroup > div {
  display: flex;
  justify-content: center;
  padding: 1.25rem 0;
  cursor: pointer;
}

.btnGroup > .inactive:hover {
  background-color: #5782c2;
}

.btnGroup > div > img {
  width: 50%;
}
