.pageLayout {
  display: grid;
  grid-template-columns: 3.5rem 1fr;
  height: 100vh;
}

.pageBody {
  height: 100vh;
}

.loaderOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
}

@media (max-width: 450px) {
  .pageContent {
    grid-template-rows: 15% 85%;
  }
}