.formField {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 0.5rem;
}

.formField label {
  padding-bottom: 0.5rem;
}

.formField > .errorMessage {
  margin: 0.25rem 0;
  font-size: 0.8rem;
  color: red;
}