.backdrop {
  width: 100%;
  position: absolute;
  background-color: black;
  opacity: 50%;
  height: 100%
}

.card {
  background-color: white;
  position: absolute;
  height: 100%;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.cardContent {
  padding: 1.5rem 2rem;
}

.cardHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}